<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- This is how we import our 'properties' that holds values in it-->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    <bean id="myFortune" class="com.inversionofcontrol.HappyFortuneService">

    </bean>
    <bean id="myCoach" class="com.inversionofcontrol.FootballCoach">
        <!-- Setup constructor injection
        this means that the FootballCoach constructor receive an object of the dependency that we need to inject-->

        <!-- ref is the id of the dependency bean that we need to inject-->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myTrackCoach" class="com.inversionofcontrol.TrackCoach">
        <!-- Setup constructor injection
        this means that the TrackCoach constructor receive an object of the dependency that we need to inject-->

        <!-- ref is the id of the dependency bean that we want to inject-->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myCricketCoach" class="com.inversionofcontrol.CricketCoach">
        <!-- Setup setter injection -->
        <!-- name here refers to the setter method name but without word [[ set ]]-->
        <!-- ref is the id of the dependency bean that we want to inject-->
        <property name="happyFortuneService" ref="myFortune"/>

        <!-- Setup setter injection for injecting LITERALS -->
        <!-- The problem in this way of reading the values is the values are always hard coded-->

        <!-- <property name="email" value="obeidat@gmail.com"/>-->
        <!-- <property name="team" value="Real Madrid"/>-->

        <!-- Reading the values from the property file-->
        <property name="email" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

    <!--######################################################################################################################################################-->


    <!-- EX:// This bean contains a scope, constructor injection & setter injection-->
    <!--
        <bean id = "myBean" class="com.inversionofcontrol.TrackCoach" scope="prototype">
            <constructor-arg ref="myCoach"/> &lt;!&ndash; Constructor Injection&ndash;&gt;
            <property name="myRef" ref="myCoach"/>
        </bean>
    -->
</beans>





